.button {
	width: 100px;
	background-color: $color-button-background;
	@include border-radius(5px);
	border: 2px solid $color-button-border;
	box-shadow: 2px 2px 3px $color-button-box-shadow;
	outline: 0;
	cursor: pointer;
	color: $color-button-color;
	padding: 20px;
}

.button:active {
	border: 2px solid $color-button-active-border;
	box-shadow: 2px 2px 3px $color-button-active-box-shadow;
}