#countdownPanel {
	min-width: 100%;
	min-height: 100%;
	position: absolute;
	align-items: center;
	justify-content: center;
	display: none;
	font-size: 10em;
	z-index: 3;
}

.grayscaleBackgroundAnimation {
	animation: GRAYSCALE_BACKGROUND_ANIMATION 4s;
}

@keyframes GRAYSCALE_BACKGROUND_ANIMATION {
	100% {
		@include filter(1, 3px);
	}
}