.failBackground {
	display: none;
	align-items: center;
	min-width: 100%;
	min-height: 100%;
	position: absolute;
	background-color: $color-fade-background;
	animation: FAIL_BACKGROUND_ANIMATION 1s;
	animation-fill-mode: forwards;
	z-index: 1;
}

.failPanel {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	background-color: $color-popup-background;
	color: $color-popup-text;

	font-size: 5em;
	animation: FAIL_PANEL_ANIMATION 1s;
	animation-fill-mode: forwards;
}

.fail_text {
	animation: FAIL_TEXT_ANIMATION 1s;
	animation-fill-mode: forwards;
}


@keyframes FAIL_BACKGROUND_ANIMATION {
	0% {
		opacity: 0;
	}

	100% {
		opacity: 1;
		transition: opacity 0.5s ease-in-out;
	}
}

@keyframes FAIL_PANEL_ANIMATION {
	100% {
		padding: 40px;
		transition: padding 0.5s ease-in-out;
	}
}

@keyframes FAIL_TEXT_ANIMATION {
	0% {
		transform: skewX(-50deg) translateX(-100%);
	}

	100% {
		transform: skewX(0deg);
	}
}