.fail_background {
	display: none;
	align-items: center;
	min-width: 100%;
	min-height: 100%;
	position: absolute;
	background-color: $color-fade-background;
	animation: FAIL_BACKGROUND_ANIMATION 1s;
	animation-fill-mode: forwards;
	z-index: 2;
}

.fail_panel {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	background-color: $color-popup-background;
	color: $color-popup-text;
	animation: FAIL_PANEL_ANIMATION 1s;
	animation-fill-mode: forwards;
	padding: 20px 0 20px 0;
	font-size: 0.67em;

	& h1 {
		animation: FAIL_TEXT_ANIMATION 1s;
		animation-fill-mode: forwards;
	}

	& h3 {
		animation: FAIL_TEXT_ANIMATION 1s;
		animation-fill-mode: forwards;
	}

	@media (min-width: 340px) {
		font-size: 1em;
	}

	@media (min-width: 500px) {
		font-size: 1.2em;
	}

	@media (min-width: 650px) {
		font-size: 1.5em;
	}

	@media (min-width: 825px) {
		font-size: 2em;
	}

	& button {
		animation: FAIL_BUTTON_ANIMATION 1s;
		animation-fill-mode: forwards;	
	}
}

@keyframes FAIL_BACKGROUND_ANIMATION {
	0% {
		background: rgba(0, 0, 0, 0);
	}

	100% {
		background: rgba(0, 0, 0, 0.8);
		transition: background 0.5s ease-in-out;
	}
}

@keyframes FAIL_PANEL_ANIMATION {
	0% {
		max-height: 0;
		overflow: hidden;
	}

	100% {
		max-height: 400px;
		transition: 1s ease-in-out;
	}
}

@keyframes FAIL_TEXT_ANIMATION {
	0%, 30% {
		opacity: 0;
	}

	100% {
		opacity: 1;
		transition: 0.5s ease-in-out;
	}
}

@keyframes FAIL_BUTTON_ANIMATION {
	0%, 80% {
		opacity: 0;
	}

	100% {
		opacity: 1;
		transition: 0.5s ease-in-out;
	}
}