.imagesPanel {
	display: flex;
	width: 99%;
	border: 5px double $color-panel-border;
	@include border-radius(3px);
	overflow:hidden;
	background-color: $color-panel-background;
	animation-iteration-count: infinite;
}

.images {
  	display: flex;
  	justify-content: flex-end;
  	margin-left: 100%;
  	border: 0;
}

.image {
	min-width: 30px;
	border-left: 4px groove $color-image-border;

	@media (min-width: 300px) {
		min-width: 35px;
	}

	@media (min-width: 400px) {
		min-width: 45px;
	}

	@media (min-width: 500px) {
		min-width: 65px;
	}

	@media (min-width: 600px) {
		min-width: 80px;
	}

	@media (min-width: 750px) {
		min-width: 100px;
	}

	@media (min-width: 1000px) {
		min-width: 130px;
	}

	@media (min-width: 1300px) {
		min-width: 150px;
	}
}

.warningAnimation {
	animation: WARNING_BOX_SHADOW_ANIMATION 3s;
	animation-iteration-count: infinite;
	border: 5px solid $color-warning-border;
	transition: border 0.5s ease-in-out;
}

@keyframes WARNING_BOX_SHADOW_ANIMATION {
	0% {
		box-shadow: 0px 0px 50px $color-warning-box-shadow-toggle-one;
	}

	25% {
		box-shadow: 0px 0px 50px $color-warning-box-shadow-toggle-two;
	}

	50% {
		box-shadow: 0px 0px 50px $color-warning-box-shadow-toggle-one;
	}

	75% {
		box-shadow: 0px 0px 50px $color-warning-box-shadow-toggle-two;
	}

	100% {
		box-shadow: 0px 0px 50px $color-warning-box-shadow-toggle-one;
	}
}