.instruction_panel {
	border: 3px ridge $color-popup-border;
	@include border-radius(5px);
	color: $color-popup-text;
	background-color: $color-popup-background;
	padding: 0 20px 20px 20px;
	display: flex;
	flex-direction: column;
	align-items: center;
	box-shadow: 0px 0px 50px $color-popup-box-shadow;
	margin: auto;
	font-size: 1.1em;

	// THINKING IF BETTER IF MIN-WIDTH USE EM?
	@media (min-width: 720px) {
		padding: 0 100px 20px 100px;
	}
}