.sliderPanel {
	width: 100%;
	display: none;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	overflow: hidden;
}

.points {
	font-size: 3em;
	position: relative;
}

.addPoints {
	position: absolute;
	left: 58%;
	bottom: 30%;
}

.submitPanel {
	margin-top: 3em;
}

.addPointsAnimation {
	animation: ADD_POINTS_ANIMATION 1s;
	animation-fill-mode: forwards;
}

@keyframes ADD_POINTS_ANIMATION {
	0% {
		opacity: 0;
	}

	50% {
		opacity: 1;
	}

	100% {
		opacity : 0;
		bottom: 70%;
	}
}