.submitPanel {
	display: flex;
	justify-content: center;
} 

.submitTextfield {
	border: 4px solid #3F3835;
	@include border-radius(5px);
	@include transition(0.30s);
	font-size: 200%;
	padding-left: 10px;
	outline: 0;
}

.submitTextfield:focus {
	border: 4px solid $color-textfield-border;
	box-shadow: inset 0px 0px 20px $color-textfield-box-shadow;
}

.submitPanel button {
	margin-left: 2em;
}

.shakeTextfieldAnimation {
	border: 4px solid $color-textfield-animation;
	animation: SHAKE_TEXTFIELD_ANIMATION 0.5s;
}

@keyframes SHAKE_TEXTFIELD_ANIMATION {
  10%, 90% {
    transform: translate3d(-1px, 0, 0);
  }
  
  20%, 80% {
    transform: translate3d(2px, 0, 0);
  }

  30%, 50%, 70% {
    transform: translate3d(-4px, 0, 0);
  }

  40%, 60% {
    transform: translate3d(4px, 0, 0);
  }

  100% {
  	display: none;
  }
}