<head>
  <meta charset="UTF-8">
  <base href="../..">
  <title>ReliableGoldApp</title>
  <link rel="stylesheet" type="text/css" href="css/main.css">
  <style>
    body {
      background-image: url("../img/background_image.jpg");
    }
    .failBackground {
      display: flex;
    }
  </style>
</head>

<div class="failBackground">
  <div class="failPanel">
    <h1>FAIL TRY AGAIN</h1>
    <h3>High score: <span class="failHighScore">100</span></h3>
    <button id="failButton" class="button">Try Again</button>
  </div>
</div>