<head>
  <meta charset="UTF-8">
  <base href="../..">
  <title>ReliableGoldApp</title>
  <link rel="stylesheet" type="text/css" href="css/main.css">
  <style>
    body {
      display: flex;
      justify-content: center;
      align-items: center;
    }
  </style>
</head>

<div class="instructionPanel">
  <h1><strong>HOW TO PLAY</strong></h1>
  <p>
    When the game starts, there will be a slider which contains images of dota heroes; the main objective of this game is to prevent the slider from reaching the end of the line.
  </p>
  <p>
    You must quickly type the first dota hero name on the textfield; doing so correctly will destroy that image; but if you enter the incorrect input, nothing will happen and the slider will continue sliding its way towards the end. As time pass on, the slider will began to increase its speed. There is no end to this game; the images will continue going until the user loses the game.
  </p>
  <p>
    Every correct answer earns you 100 points. In the future I might implement a high score system to see how well you do compared to other users who played this game.
  </p>

  <button id="startButton" class="button">START</button>
</div>