.contactPanel {
	background-color: white;
	opacity: 0.9;
	color: black;
	display: flex;
	flex-direction: column;

	width: 80%;
	padding: 3em 4em 3em 4em;
	margin: 0 auto;
}

.contactPicturesPanel {
	margin: 1em 0 1em 0;
	& img {
		max-width: 480px;
		max-height: 270px;
		margin: 0 6em 0 6em;
	}
}