*, *:before, *:after {
  box-sizing: inherit;
}

.wrapper, body, html {
	height: 100%;
	margin: 0;
	box-sizing: border-box;
	opacity: 1;
}

/* ============= HEADER ================== */

#header {
	background-color: black;
	opacity: 0.4;
	display:flex;
}

#header:hover {
	-webkit-transition: all 0.30s ease-in-out;
	-moz-transition: all 0.30s ease-in-out;
	-ms-transition: all 0.30s ease-in-out;
	-o-transition: all 0.30s ease-in-out;
	opacity: 0.9;
}

#logo {	
	max-width: 200px;
}

#navigation_bar {
	width: 100%;
	display: flex;
	justify-content: flex-end;
	align-items: center;
	padding-right: 20px;
}

#navigation_bar a {
	color: white;
	text-decoration: none;
	border-left: 3px solid white;
	padding: 20px;
	cursor: pointer;
}

#navigation_bar a:hover {
	text-shadow: 4px 4px red;
}

#navigation_bar a:first-child {
	border: 0;
}

/* ============= FOOTER ================== */

footer {
	background-color: black;
	color: white;
	display: flex;
	justify-content: center;
}

/* ============= BODY ================== */

.wrapper {
	display: flex;
	flex-direction: column;
	background-image: url("../img/Shadow_Fiend_Wallpaper.jpg");
	background-size: cover;

}

.main_area {
	display: flex;
	justify-content: center;
	flex: 1;

}

.central_area {
	width: 60%;
	position: relative;
}

/* ============= INSTRUCTION ================== */

.instruction {
	border: 7px ridge gold;
	border-radius: 5px;
	width: 100%;
	height: 95%;
	position: absolute;
	color: black;
	background-color: #F0FFFF;
	padding-left: 20px;
	display: flex;
	flex-direction: column;
	top: auto;
	z-index: 2;
	box-shadow: 0px 0px 50px gold;
	overflow-y: auto;
}

#start_button {
	padding: 20px;
	margin: 20px auto;

}

/* ============= COUNTDOWN ================== */

#countdown_panel {
	min-width: 100%;
	min-height: 100%;
	position: absolute;
	color: white;
	align-items: center;
	justify-content: center;
	display: none;
	font-size: 10em;
	z-index: 3;
}

.grayscale_background {
	animation: GRAYSCALE_BACKGROUND 4s;
}

@keyframes GRAYSCALE_BACKGROUND {
	100% {
		-webkit-filter: grayscale(1);
		filter: grayscale(1);
	}
}

/* ============= SLIDER ================== */

.slider {
	width: 100%;
	height: 60%;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}

.points {
	font-size: 3em;
	color: white;
}

/* ============= IMAGES ================== */

.images_area {
	display: flex;
	width: 100%;
	border: 5px double gold;
	/*-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	box-shadow: 0px 0px 100px gold;*/
	overflow:hidden;
}

.images {
  	display: flex;
  	justify-content: flex-end;
  	margin-left: 100%;
  	border: 0;
}

.image {
	min-width: 150px;
	min-height: 50px;
}

/* ============= SUBMIT ================== */

.submit_area {
	display: flex;
	justify-content: center;
} 

.submit_user_input {
	border: 4px solid #3F3835;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	-webkit-transition: all 0.30s ease-in-out;
	-moz-transition: all 0.30s ease-in-out;
	-ms-transition: all 0.30s ease-in-out;
	-o-transition: all 0.30s ease-in-out;
	height: 50px;
	width: 300px;
	font-size: 200%;
	padding-left: 10px;
	outline: 0;
}

.submit_user_input:focus {
	border: 4px solid black;
	box-shadow: inset 0px 0px 20px black;
}

#submit_button {
	margin-left: 20px;
}

/* ============= BUTTON ================== */

.button {
	width: 100px;
	background-color: #330000;
	color: white;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	border: 2px solid white;
	box-shadow: 2px 2px 3px white;
	outline: 0;
}

.button:active {
	border: 2px solid black;
	box-shadow: 2px 2px 3px black;
}

/* ============= FAIL ================== */

.failBackground {
	display: none;
	align-items: center;
	min-width: 100%;
	min-height: 100%;
	position: absolute;
	z-index: 3;
	background-color: black;
	animation: ANIMATE_FAIL_BACKGROUND 1s;
	animation-fill-mode: forwards;
}

.failPanel {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	background-color: white;
	color: black;
	z-index: 3;
	font-size: 5em;
	animation: ANIMATE_FAIL_PANEL 1s;
	animation-fill-mode: forwards;
}

.failText {
	animation: ANIMATE_FAIL_TEXT 1.5s;
	animation-fill-mode: forwards;
}

@keyframes ANIMATE_FAIL_BACKGROUND {
	0% {
		opacity: 0;
	}

	100% {
		opacity: 0.7;
		transition: opacity 0.5s ease-in-out;
	}
}

@keyframes ANIMATE_FAIL_PANEL {

	100% {
		height: 100%;
		padding: 40px;
		transition: padding 0.5s ease-in-out;
	}
}

@keyframes ANIMATE_FAIL_TEXT {
	0% {
		transform: skewX(-50deg) translateX(-100%);
	}

	100% {
		transform: skewX(0deg);
	}
}

/* ============= ANIMATION ================== */

@keyframes SHAKE_TEXTFIELD {
  10%, 90% {
    transform: translate3d(-1px, 0, 0);
  }
  
  20%, 80% {
    transform: translate3d(2px, 0, 0);
  }

  30%, 50%, 70% {
    transform: translate3d(-4px, 0, 0);
  }

  40%, 60% {
    transform: translate3d(4px, 0, 0);
  }

  100% {
  	display: none;
  }
}

.shake_textfield {
	border: 4px solid red;
	animation: SHAKE_TEXTFIELD 0.5s;
}