/*@import 'reset';*/
.button {
  background: -webkit-linear-gradient(#9b9b9b, black);
  /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(#9b9b9b, black);
  /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(#9b9b9b, black);
  /* For Firefox 3.6 to 15 */
  background: linear-gradient(#9b9b9b, black);
  /* Standard syntax (must be last) */
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  border-radius: 10px;
  border: 1px solid #191919;
  outline: 0;
  cursor: pointer;
  color: white;
  padding: 20px; }
  .button:hover {
    background: -webkit-linear-gradient(dimgray, black);
    /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(dimgray, black);
    /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(dimgray, black);
    /* For Firefox 3.6 to 15 */
    background: linear-gradient(dimgray, black);
    /* Standard syntax (must be last) */ }
  .button:active {
    background: -webkit-linear-gradient(#555555, black);
    /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#555555, black);
    /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#555555, black);
    /* For Firefox 3.6 to 15 */
    background: linear-gradient(#555555, black);
    /* Standard syntax (must be last) */ }

#countdown_panel {
  min-width: 100%;
  min-height: 100%;
  position: absolute;
  align-items: center;
  justify-content: center;
  display: none;
  font-size: 12em;
  z-index: 1; }

.grayscale_background_animation {
  animation: GRAYSCALE_BACKGROUND_ANIMATION 4s; }

@keyframes GRAYSCALE_BACKGROUND_ANIMATION {
  20%, 100% {
    -webkit-filter: grayscale(0.7) blur(3px);
    -moz-filter: grayscale(0.7) blur(3px);
    -ms-filter: grayscale(0.7) blur(3px);
    filter: grayscale(0.7) blur(3px); } }
.fail_background {
  display: none;
  align-items: center;
  min-width: 100%;
  min-height: 100%;
  position: absolute;
  background-color: black;
  animation: FAIL_BACKGROUND_ANIMATION 1s;
  animation-fill-mode: forwards;
  z-index: 2; }

.fail_panel {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #F0FFFF;
  color: black;
  animation: FAIL_PANEL_ANIMATION 1s;
  animation-fill-mode: forwards;
  padding: 20px 0 20px 0;
  font-size: 0.67em; }
  .fail_panel h1 {
    animation: FAIL_TEXT_ANIMATION 1s;
    animation-fill-mode: forwards; }
  .fail_panel h3 {
    animation: FAIL_TEXT_ANIMATION 1s;
    animation-fill-mode: forwards; }
  @media (min-width: 340px) {
    .fail_panel {
      font-size: 1em; } }
  @media (min-width: 500px) {
    .fail_panel {
      font-size: 1.2em; } }
  @media (min-width: 650px) {
    .fail_panel {
      font-size: 1.5em; } }
  @media (min-width: 825px) {
    .fail_panel {
      font-size: 2em; } }
  .fail_panel button {
    animation: FAIL_BUTTON_ANIMATION 1s;
    animation-fill-mode: forwards; }

@keyframes FAIL_BACKGROUND_ANIMATION {
  0% {
    background: transparent; }
  100% {
    background: rgba(0, 0, 0, 0.8);
    transition: background 0.5s ease-in-out; } }
@keyframes FAIL_PANEL_ANIMATION {
  0% {
    max-height: 0;
    overflow: hidden; }
  100% {
    max-height: 400px;
    transition: 1s ease-in-out; } }
@keyframes FAIL_TEXT_ANIMATION {
  0%, 30% {
    opacity: 0; }
  100% {
    opacity: 1;
    transition: 0.5s ease-in-out; } }
@keyframes FAIL_BUTTON_ANIMATION {
  0%, 80% {
    opacity: 0; }
  100% {
    opacity: 1;
    transition: 0.5s ease-in-out; } }
.images_panel {
  display: flex;
  width: 99%;
  border: 5px double gold;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  border-radius: 3px;
  overflow: hidden;
  background-color: black;
  animation-iteration-count: infinite; }

.images {
  display: flex;
  justify-content: flex-end;
  margin-left: 100%;
  border: 0; }

.image {
  width: 48px;
  height: 27px;
  border-left: 4px groove gold; }
  @media (min-width: 400px) {
    .image {
      width: 64px;
      height: 36px; } }
  @media (min-width: 500px) {
    .image {
      width: 80px;
      height: 45px; } }
  @media (min-width: 600px) {
    .image {
      width: 96px;
      height: 54px; } }
  @media (min-width: 750px) {
    .image {
      width: 112px;
      height: 63px; } }
  @media (min-width: 1000px) {
    .image {
      width: 128px;
      height: 72px; } }
  @media (min-width: 1300px) {
    .image {
      width: 160px;
      height: 90px; } }

.warning_animation {
  animation: WARNING_BOX_SHADOW_ANIMATION 3s;
  animation-iteration-count: infinite;
  border: 5px solid red;
  transition: border 0.5s ease-in-out; }

@keyframes WARNING_BOX_SHADOW_ANIMATION {
  0% {
    box-shadow: 0px 0px 50px #641E16; }
  25% {
    box-shadow: 0px 0px 50px #F1948A; }
  50% {
    box-shadow: 0px 0px 50px #641E16; }
  75% {
    box-shadow: 0px 0px 50px #F1948A; }
  100% {
    box-shadow: 0px 0px 50px #641E16; } }
.instruction_panel {
  border: 3px ridge gold;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  border-radius: 5px;
  color: black;
  background-color: #F0FFFF;
  padding: 0 20px 20px 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 0px 0px 50px gold;
  margin: auto;
  font-size: 1.1em; }
  @media (min-width: 720px) {
    .instruction_panel {
      padding: 0 100px 20px 100px; } }

.slider_panel {
  width: 100%;
  display: none;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  overflow: hidden; }

.points {
  font-size: 3em;
  position: relative; }

.add_points {
  position: absolute;
  left: 58%;
  bottom: 30%; }

.submit_panel {
  margin-top: 3em; }

.add_points_animation {
  animation: ADD_POINTS_ANIMATION 1s;
  animation-fill-mode: forwards; }

@keyframes ADD_POINTS_ANIMATION {
  0% {
    opacity: 0; }
  50% {
    opacity: 1; }
  100% {
    opacity: 0;
    bottom: 70%; } }
.submit_panel {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  padding: 0 1em 0 1em; }
  .submit_panel button {
    width: 90%;
    margin: 2em 5% 0 5%; }
  @media (min-width: 630px) {
    .submit_panel {
      flex-direction: row;
      width: initial; }
      .submit_panel button {
        margin: 0 0 0 2em; } }

.submit_textfield {
  border: 4px solid #3F3835;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  border-radius: 5px;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  font-size: 200%;
  margin: 0 5% 0 5%;
  outline: 0;
  padding-left: 20px; }
  .submit_textfield:focus {
    border: 4px solid black;
    box-shadow: inset 0px 0px 20px black; }

.shake_textfield_animation {
  border: 4px solid red !important;
  animation: SHAKE_TEXTFIELD_ANIMATION 0.5s; }

@keyframes SHAKE_TEXTFIELD_ANIMATION {
  10%, 90% {
    transform: translate3d(-1px, 0, 0); }
  20%, 80% {
    transform: translate3d(2px, 0, 0); }
  30%, 50%, 70% {
    transform: translate3d(-4px, 0, 0); }
  40%, 60% {
    transform: translate3d(4px, 0, 0); }
  100% {
    display: none; } }
#header {
  background-color: black;
  display: flex; }

#logo {
  opacity: 0.6;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  max-width: 100%; }
  #logo:hover {
    opacity: 1; }

#navigation_bar {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-right: 20px; }

.navigation_link {
  display: none;
  padding: 10px 20px 10px 20px;
  border: 2px solid white;
  justify-content: space-between;
  flex-direction: row;
  position: absolute;
  z-index: 1;
  right: 39px;
  background-color: white; }
  .navigation_link a {
    color: black;
    text-decoration: none;
    cursor: pointer;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    padding: 0 20px 0 20px; }
    .navigation_link a:hover {
      text-shadow: 4px 4px gray; }
    .navigation_link a:first-child {
      border: 0; }
  @media (min-width: 470px) {
    .navigation_link {
      display: flex !important;
      flex-direction: row;
      padding: 0 !important;
      border: 0 !important;
      background: none; }
      .navigation_link a {
        color: gray;
        border-left: 3px solid white;
        padding: 20px; }
        .navigation_link a:hover {
          color: white; } }

#navigation_icon {
  display: none; }
  #navigation_icon:not(:checked) ~ .navigation_link {
    display: none; }
  #navigation_icon:checked ~ .navigation_link {
    display: flex; }

#navigation_icon_label {
  display: flex;
  order: 1;
  cursor: pointer; }
  @media (min-width: 470px) {
    #navigation_icon_label {
      display: none; } }

@keyframes NAVIGATION_ICON_IN_ANIMATION {
  0% {
    padding: 10px 20px 10px 20px; }
  100% {
    padding: 0;
    transition: padding 1s ease-in-out; } }
@keyframes NAVIGATION_ICON_OUT_ANIMATION {
  0% {
    padding: 0; }
  100% {
    padding: 10px 20px 10px 20px;
    border: 2px solid white;
    transition: padding 1s ease-in-out; } }
footer {
  background-color: black;
  display: flex;
  justify-content: center; }

.hero_list_panel {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  font-size: 3em;
  background-color: black; }

.contact_panel {
  background-color: white;
  color: black;
  padding: 3em 4em 3em 4em;
  width: 100%;
  margin: 0 auto;
  overflow-y: auto; }
  @media (min-width: 900px) {
    .contact_panel {
      width: 80%; } }

.contact_pictures_panel {
  padding: 1em 0 1em 0;
  flex-flow: row wrap;
  display: flex; }
  .contact_pictures_panel img {
    flex: auto;
    margin: 1em 0 1em 0;
    max-width: 250px;
    width: 100%;
    height: 100%; }
    @media (min-width: 420px) {
      .contact_pictures_panel img {
        margin: 1em; } }

.wrapper, body, html {
  height: 100vh;
  margin: 0;
  overflow: hidden;
  box-sizing: border-box;
  font-family: "Segoe UI", sans-serif;
  color: white; }

q {
  display: block;
  font-style: italic;
  margin: 1em 0 1em 0; }

.wrapper {
  display: flex;
  flex-direction: column;
  background-image: url("../img/background_image.jpg");
  background-size: cover; }

.main_panel {
  display: flex;
  flex: 1;
  overflow-y: auto; }

/*# sourceMappingURL=main.css.map */
