@import 'modules/mixins';
@import 'modules/color_palette';
@import 'modules/typography';
@import 'components/button';
@import 'components/countdown';
@import 'components/fail';
@import 'components/images';
@import 'components/instruction';
@import 'components/slider';
@import 'components/textfield';

*, *:before, *:after {
  box-sizing: inherit;
}

.wrapper, body, html {
	height: 100vh;
	margin: 0;
	overflow: hidden;
	box-sizing: border-box;
	// put a mixin for a full font familyy
	font-family: $main-font;
	color: $color-text;
	font-size: 1.1em;
}

/* ============= HEADER ================== */

#header {
	@include verticalGradient(0,0,0,1,19,8,4,1);
	display: flex;
}

#logo {	
	max-width: 208px;
	opacity: 0.6;
}

#logo:hover {
	@include transition(0.3s);
	opacity: 1;
}

#navigationBar {
	width: 100%;
	display: flex;
	justify-content: flex-end;
	align-items: center;
	padding-right: 20px;
}

#navigationBar a {
	color: gray;
	text-decoration: none;
	border-left: 3px solid $color-main-border;
	padding: 20px;
	cursor: pointer;
}

#navigationBar a:hover {
	color: white;
	text-shadow: 4px 4px $color-main-text-shadow;
	@include transition(0.3s);
}

#navigationBar a:first-child {
	border: 0;
}

/* ============= FOOTER ================== */

footer {
	background-color: $color-main-background;
	display: flex;
	justify-content: center;
}

/* ============= BODY ================== */

.wrapper {
	display: flex;
	flex-direction: column;
	background-image: url("../img/background_image.jpg");
	background-size: cover;
}

.mainPanel {
	display: flex;
	align-items: center;
	flex: 1;
	overflow: auto;	
}

.priceListPanel {
	display: flex;
	justify-content: center;
	width: 100%;
	font-size: 3em;
	background-color: rgba(0, 0, 0, 1);
}