// READ UP BEM VS SMACSS VS ATOMIC ON CSS STYLING FORMAT

// Adding this reset.scss late into this project screw things up, should of done it earlier; but it helps fix the inconsistencies between browsers
// Then again find out how bootstrap fix browser inconsistencies and quirks?? How did JQuery did this too?? 
/*@import 'reset';*/
@import 'modules/mixins';
@import 'modules/color_palette';
@import 'modules/typography';
@import 'components/button';
@import 'components/countdown';
@import 'components/fail';
@import 'components/images';
@import 'components/instruction';
@import 'components/slider';
@import 'components/textfield';
@import 'header.scss';
@import 'footer.scss';
@import 'hero_list.scss';
@import 'contact.scss';

.wrapper, body, html {
	height: 100vh;
	margin: 0;
	overflow: hidden;
	box-sizing: border-box;
	font-family: $main-font;
	color: $color-main-text;
}

q {
	display: block;
	font-style: italic;
	margin: 1em 0 1em 0;
}

.wrapper {
	display: flex;
	flex-direction: column;
	background-image: url("../img/background_image.jpg");
	background-size: cover;
}

.main_panel {
	display: flex;
	flex: 1;
	overflow-y: auto;
}