$red: red;
$white: white;
$black: black;
$gold: gold;
$gray: gray;
$azure: #F0FFFF;
$maroon: #641E16;
$pink: #F1948A;
$gray-chocolate: #3F3835;

// Global
$color-main-text: $white;

// Header
$color-header-background: $black;

// Navigation
$color-navigation-small-background: $white;
$color-navigation-small-border: $white;
$color-navigation-small-text: $black;
$color-navigation-text-shadow-hover: $gray;
$color-navigation-border: $white;
$color-navigation-text-hover: $white;
$color-navigation-text: $gray;

// Footer
$color-footer-background: $black;

// Instruction
$color-instruction-panel-background: $white;
$color-instruction-panel-box-shadow: $gold;
$color-instruction-panel-border: $gold;
$color-instruction-panel-text: $black;

// Fail
$color-fail-background: $black;
$color-fail-panel-background: $azure;
$color-fail-panel-text: $black;

// Images
$color-images-panel-background: $black;
$color-images-panel-border: $gold;
$color-images-panel-warning-border: $red;
$color-images-panel-warning-box-shadow-toggle-one: $maroon;
$color-images-panel-warning-box-shadow-toggle-two: $pink;

// Textfield
$color-textfield-box-shadow-focus: $black;
$color-textfield-border: $gray-chocolate;
$color-textfield-border-focus: $black;
$color-textfield-border-shake-animation: $red;

// Button
$color-button-background: $white;

// Image
$color-image-border: $gold;

// Hero list
$color-hero-list-background: $black;

// Contact
$color-contact-panel: $white;