$red: red;
$white: white;
$black: black;
$gold: gold;
$blackish: #F0FFFF;
$toggleOne: #641E16;
$toggleTwo: #F1948A;
$btnBackground: #330000;

// Global
$color-text: $white;

// Main
$color-main-background: $black;
$color-main-border: $white;
$color-main-text-shadow: gray;

// Popup
$color-popup-text: $black;
$color-popup-background: $white;
$color-popup-box-shadow: $gold;
$color-popup-border: $gold;
$color-popup-background: $blackish;
$color-fade-background: $black;

// Panel
$color-panel-background: $black;
$color-panel-border: $gold;
$color-warning-border: $red;
$color-warning-box-shadow-toggle-one: $toggleOne;
$color-warning-box-shadow-toggle-two: $toggleTwo;

// Textfield
$color-textfield-border: $black;
$color-textfield-box-shadow: $black;
$color-textfield-animation: $red;

// Button
$color-button-color: $white;
$color-button-background: $btnBackground;
$color-button-border: $white;
$color-button-box-shadow: $white;
$color-button-active-border: $black;
$color-button-active-box-shadow: $black;