@mixin transition($seconds) {
	-webkit-transition: all $seconds ease-in-out;
	-moz-transition: all $seconds ease-in-out;
	-ms-transition: all $seconds ease-in-out;
	-o-transition: all $seconds ease-in-out;
}

@mixin border-radius($radius) {
	-webkit-border-radius: $radius;
	-moz-border-radius: $radius;
	-ms-border-radius: $radius;
	border-radius: $radius;
}

@mixin filter($grayscale: 0, $blur: 0px) {
	-webkit-filter: grayscale($grayscale) blur($blur);
	-moz-filter: grayscale($grayscale) blur($blur);
	-ms-filter: grayscale($grayscale) blur($blur);
	filter: grayscale($grayscale) blur($blur);
}

@mixin horizontalGradient($red1, $green1, $blue1, $opacity1, $red2, $green2, $blue2, $opacity2) {
	background: -webkit-linear-gradient(left, rgba($red1, $green1, $blue1, $opacity1), rgba($red2, $green2, $blue2, $opacity2));
    background: -o-linear-gradient(right, rgba($red1, $green1, $blue1, $opacity1), rgba($red2, $green2, $blue2, $opacity2));
    background: -moz-linear-gradient(right, rgba($red1, $green1, $blue1, $opacity1), rgba($red2, $green2, $blue2, $opacity2));
    background: linear-gradient(to right, rgba($red1, $green1, $blue1, $opacity1), rgba($red2, $green2, $blue2, $opacity2));
}

@mixin verticalGradient($red1, $green1, $blue1, $opacity1, $red2, $green2, $blue2, $opacity2) {
    background: -webkit-linear-gradient(rgba($red1, $green1, $blue1, $opacity1), rgba($red2, $green2, $blue2, $opacity2));
    background: -o-linear-gradient(rgba($red1, $green1, $blue1, $opacity1), rgba($red2, $green2, $blue2, $opacity2));
    background: -moz-linear-gradient(rgba($red1, $green1, $blue1, $opacity1), rgba($red2, $green2, $blue2, $opacity2));
    background: linear-gradient(rgba($red1, $green1, $blue1, $opacity1), rgba($red2, $green2, $blue2, $opacity2));
}